<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="six.eared.macaque.agent.test.mybatis.UserMapper">

    <resultMap id="BaseResultMap" type="six.eared.macaque.agent.test.mybatis.User">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
    </resultMap>

</mapper>